:root {
  --color-white: #f7f7f7;
  /* --color-darkblue: #1e4f7c; */
  --color-darkblue: black;
}

* {
  color: var(--color-white);
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html {
  background-color: var(--color-darkblue);
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
/* .frame {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  border: var(--color-white) 1px solid;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
} */
@font-face {
  font-family: "Title";
  src: url("../public/fonts/NeutralFace.otf");
}
@font-face {
  font-family: "Text";
  src: url("../public/fonts/Satoshi-Regular.otf");
}
@font-face {
  font-family: "TextBold";
  src: url("../public/fonts/Satoshi-Bold.ttf");
}

.page-transition {
  opacity: 1;
  transition: 0.5s;
  animation: fadeIn 0.5s ease-in-out both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button_1 {
  color: var(--color-white);
  z-index: 2;
  overflow: hidden;
  font-family: Title;
  max-width: 50vw;
  font-size: 20px;
  white-space: nowrap;
  border: solid var(--color-white) 2px;
  text-decoration: none;
  padding: 15px 20px 10px 20px;
  position: relative;
}
.button_1::before {
  z-index: -1;
  overflow: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--color-white);
  transition: 0.1s;
}
.button_1:hover::before {
  z-index: -1;
  overflow: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  transition: 0.2s;
}
.button_1:hover {
  transition: 0.2s;
  color: black;
}
/* @ */

.burger_container {
  display: none;
}
.burger_menu {
  display: none;
}
.burger_menu_hide {
  display: none;
}
header.scrolled {
  background-color: black;
  z-index: 3;
}

.header_container {
  max-width: 1440px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background: none;
  z-index: 2;
  background: inherit;
  /* filter: invert(); */
}
#header.hidden {
  transition: 0.5s;
  top: -100px;
}
#header {
  transition: 0.2s;
}

.header_grid {
  padding: 15px 25px;
  width: 100%;
  display: flex;

  align-items: center;
}
.header_grid_box_1 {
  margin-top: -2.8px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
}
.header_grid_box_2 {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header_grid_box_3 {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.header_logo {
  position: relative;
  width: 50px;
  height: 40px;
  cursor: pointer;
}
.header_logo > img {
  object-fit: contain;
}
.header_menu {
  white-space: nowrap;
}

.header_menu a {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Text;
  font-size: 16px;
  position: relative;
  margin: 0 15px;
  height: 100%;
}
.header_menu a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 1px;
  background: var(--color-white);
  animation: underlineback 0.1s linear forwards;
}

.header_menu a:hover::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 1px;
  background: var(--color-white);
  animation: underline 0.2s linear forwards;
}
/* Header Underline animation */
@keyframes underline {
  0% {
    width: 0;
    left: 50%;
  }

  100% {
    width: 100%;
    left: 0;
  }
}
@keyframes underlineback {
  0% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 50%;
  }
}

.header_button {
  text-transform: uppercase;
  text-decoration: none;
  font-family: Text;
  border: solid var(--color-white) 1px;
  padding: 5px 10px;
  position: relative;
  font-size: 16px;
}
.header_button:hover {
  transition: 0.2s;
  color: black;
}
.header_button::before {
  z-index: -1;
  overflow: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--color-white);
  transition: 0.1s;
}
.header_button:hover::before {
  z-index: -1;
  overflow: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  transition: 0.2s;
}

/* FOOTER */

.footer {
  background: black;
  width: 100%;
  max-width: 100vw;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: var(--color-white) 1px solid; */
}

.footer1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 25%;
  font-family: "Text";
  font-size: 18px;
  margin-left: 7%;
}
.footer1 > div {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.footer1 > div > img {
  object-fit: contain;
}

.footer1 > p {
  color: gray;
  font-size: 18px;
  line-height: 22px;
}
.footer2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer2 > p {
  font-family: "Text";
  font-size: 18px;
  color: gray;
  max-width: 80%;
  text-align: center;
  line-height: 22px;
}
.footer2 > p:hover {
  color: var(--color-white);
  cursor: pointer;
}
.footer2 > div {
  position: relative;
  width: 20px;
  height: 20px;
  margin-bottom: 30px;
}
.footer2 > div > img {
  object-fit: contain;
}
.footer3 > h3 {
  font-family: "Text";
  margin-bottom: 20px;
}

.footer3 > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer3 > ul > a {
  color: gray;
  font-size: 18px;
  font-family: "Text";
  text-decoration: none;
  line-height: 22px;
}
.footer3 > ul > a:hover {
  color: var(--color-white);
}
.footer4 {
  margin-right: 7%;
}
.footer4 > h3 {
  font-family: "Text";
  margin-bottom: 20px;
}
.footer4 > a {
  color: gray;
  font-size: 18px;
  font-family: "Text";
  text-decoration: none;
  line-height: 22px;
  border: none;
}

.footer4 > a:hover {
  color: var(--color-white);
}

/* HERO */

.hero_container {
  z-index: 1;
  position: relative;
  background-image: url("/img/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  /* border: var(--color-white) 2px solid;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; */
}
.hero_content {
  position: absolute;
  left: 7%;
  top: 20%;
}

.hero_content > h1 {
  font-family: Title;
  max-width: 50vw;
  font-size: 100px;
  margin-bottom: 30px;
  /* mix-blend-mode: exclusion; */
}

.hero_content > a {
  overflow: hidden;
  font-family: Title;
  width: fit-content;
  font-size: 20px;
  border: solid var(--color-white) 2px;
  text-decoration: none;
  padding: 13px 20px 10px 20px;
  position: relative;
}
.hero_content > a::before {
  z-index: -1;
  overflow: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: var(--color-white);
  transition: 0.1s;
}
.hero_content > a:hover::before {
  z-index: -1;
  overflow: hidden;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-white);
  transition: 0.2s;
}
.hero_content > a:hover {
  transition: 0.2s;
  color: black;
}
.arrow {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 30px;
  font-size: 26px;
  animation: float 0.8s ease-in-out infinite;
}

.hero_icons {
  position: absolute;
  right: 15%;
  top: 10%;
  width: 420px;
  height: 580px;
}

/* Animation arrow floating */

@keyframes float {
  0% {
    bottom: 30px;
  }

  50% {
    bottom: 40px;
  }
}

/* HERO TEMPLATE */
.hero_template_container {
  z-index: 1;
  position: relative;
  background-color: black;
  width: 100vw;
  height: 100vh;
  /* border: var(--color-white) 2px solid;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; */
}
.hero_template_container img {
  object-fit: cover;
  /* filter: opacity(0.7); */
}
.hero_template_content {
  position: absolute;
  left: 7%;
  bottom: 20%;
}

.hero_template_content > h1 {
  font-family: Title;
  max-width: 50vw;
  font-size: 100px;
  margin-bottom: 30px;
  /* mix-blend-mode: exclusion; */
}

/* HOME */

.home_intro {
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  background-image: url("/img/toast-slice-with-cherry-tomatoes-copy-space.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  min-height: 600px;
  /* border: var(--color-white) 2px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: none; */
}
.home_intro:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to left, transparent 20%, black 100%);
}

.home_intro_info {
  z-index: 1;
  position: absolute;
  left: 7%;
  top: 20%;
  width: 80%;
}

.home_intro_info > h3 {
  color: var(--color-white);
  font-family: TextBold;
  font-size: 26px;
  width: 50%;
  text-align: left;
  margin-bottom: 30px;
  line-height: 26px;
}
.home_intro_info > p {
  color: var(--color-white);
  font-family: Text;
  font-size: 22px;
  width: 55%;
  text-align: left;
  line-height: 24px;
  margin-bottom: 50px;
}

.home_services {
  width: 100%;
  padding-bottom: 10px;
  padding-top: 20px;
  position: relative;
  background-image: url("/img/street-food-photography-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: var(--color-white) 2px solid;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top: none; */
}

.home_services > h1 {
  width: 86%;
  margin: 150px 0 0 0;
  text-align: left;
  font-family: "Title";
  font-size: 70px;
}
.home_services > h1:nth-child(2) {
  text-align: right;
}
.home_services > a {
  font-size: 42px;
  margin-top: 150px;
  margin-bottom: 300px;
}
.home_portfolio {
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  background-image: url("/img/philly-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  /* box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: var(--color-white) 2px solid;
  border-top: none;
  border-bottom: none; */
}
.home_portfolio > h1 {
  margin: 550px 0 0 7%;
  text-align: left;
  font-family: "Title";
  font-size: 70px;
}
.home_portfolio > h1:nth-child(2) {
  text-align: right;
}
.home_portfolio > a {
  margin-left: 7%;
  font-size: 34px;
  margin-top: 30px;
  margin-bottom: 50px;
}

/* Portfolio */

.portfolio {
  padding-bottom: 80px;
  background-color: var(--color-white);
}
.line {
  width: 80%;
  margin: 0 auto;
  height: 1px;
  background-color: var(--color-darkblue);
  margin-bottom: 60px;
}

.portfolio_article {
  width: 100%;
  margin: 0 auto;
  padding: 80px 0 0 0;
}
.portfolio_article_information {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.portfolio_article_information > div:nth-child(1) {
  width: 58%;
}

.portfolio_article_information h1 {
  color: var(--color-darkblue);
  font-family: "Title";
  font-size: 32px;
  margin-bottom: 5px;
}
.portfolio_article_information h2 {
  color: grey;
  font-family: "Title";
  font-size: 28px;
  margin-bottom: 30px;
}
.portfolio_article_information p {
  color: grey;
  font-family: "Text";
  margin-bottom: 10px;
  font-size: 18px;
}

.portfolio_article_information_image {
  position: relative;
  min-height: 250px;
  min-width: 250px;
}
.portfolio_article_information_image > img {
  object-fit: cover;
}
.portfolio_article_images {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.portfolio_article_images > div {
  position: relative;
  width: 26vw;
  height: 300px;
}
.portfolio_article_images > div > img {
  object-fit: cover;
}

/* SERVICES */

.services {
  padding-bottom: 150px;
  background-color: var(--color-white);
}

.services_article {
  width: 86%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0 0 0;
}
.services_article > div:nth-child(1) {
  width: 55%;
  margin-right: 50px;
}

.services_article h2 {
  color: var(--color-darkblue);
  font-family: "Title";
  font-size: 32px;
  margin-bottom: 60px;
}
.services_article p {
  color: grey;
  font-family: "Text";
  font-size: 22px;
  line-height: 26px;
}

.services_article > div:nth-child(2) {
  position: relative;
  height: 400px;
  width: 400px;
}

.services_article > div:nth-child(2) > img {
  object-fit: cover;
}

/* ABOUT */

.about {
  width: 100%;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.about_logo {
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
.about_logo > img {
  object-fit: contain;
}

.about h2 {
  font-size: 30px;
  color: var(--color-darkblue);
  font-family: "Title";
  width: 80%;
  margin-top: 40px;
}
.about h3 {
  font-size: 24px;
  line-height: 26px;
  color: var(--color-darkblue);
  font-family: "Text";
  text-align: start;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 60px;
  color: grey;
}
.about p {
  font-size: 24px;
  line-height: 26px;
  color: var(--color-darkblue);
  font-family: "Text";
  text-align: start;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 50px;
  color: grey;
}

/* MOBILE RESPONSIVE */

@media only screen and (max-width: 600px) {
  .burger_container {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
  }
  .burger_cancel {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 30px;
    right: 30px;
  }
  .burger_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    animation: slideIn 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 50%;
  }

  .burger_menu a {
    color: var(--color-darkblue);
    text-transform: uppercase;
    text-decoration: none;
    font-family: Text;
    font-size: 24px;
    position: relative;
    margin: 10px 30px;
  }
  @keyframes slideIn {
    0% {
      left: 100%;
    }

    100% {
      left: 0%;
    }
  }
  .burger_menu_hide {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-white);
    animation: slideOut 0.2s ease-in-out;
  }
  @keyframes slideOut {
    0% {
      left: 0;
    }

    100% {
      left: 100%;
    }
  }
  #header.hidden {
    transition: 0s;
    top: 0px;
  }
  #header {
    transition: 0s;
  }

  .header_grid_box_1 {
    margin-top: 5px;
  }
  .header_logo {
    width: 40px;
  }
  .header_menu {
    display: none;
  }
  .header_button {
    display: none;
  }
  .hero_container {
    height: 100vh;
  }
  .footer {
    flex-direction: column;
  }

  .footer > a {
    display: none;
  }
  .footer > div:nth-child(2) {
    margin-right: 14%;
  }
  .footer1 {
    max-width: 90%;
  }
  .footer2 {
    display: none;
  }
  .footer3 {
    display: none;
  }
  .footer4 {
    margin-left: 7%;
    margin-top: 20px;
  }
  .footer4 > h3 {
    margin-bottom: 10px;
  }
  .arrow {
    margin-bottom: 30px;
    font-size: 20px;
  }
  .hero_content {
    top: auto;
    bottom: 0;
    left: 0;
    /* background: linear-gradient(to left, transparent 20%, black 100%); */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 7%;
  }
  .hero_content > h1 {
    font-size: 50px;

    /* mix-blend-mode: exclusion; */
  }
  .hero_content > a {
    font-size: 16px;
  }
  .home_intro {
    min-height: 390px;
  }
  .home_intro:after {
    background: black;
    opacity: 0.7;
  }
  .home_intro_info {
    top: 10%;
  }
  .home_intro_info > h3 {
    font-size: 18px;
    line-height: 19px;
    width: 90%;
  }
  .home_intro_info > p {
    font-size: 14px;
    line-height: 15px;
    width: 90%;
  }
  .home_services > h1 {
    width: 86%;
    margin: 50px 0 0 0;

    font-size: 30px;
  }
  .home_services > a {
    font-size: 14px;
    margin-top: 50px;
    margin-bottom: 100px;
  }
  .home_portfolio > h1 {
    margin: 150px 0 0 7%;
    text-align: left;
    font-family: "Title";
    font-size: 40px;
  }
  .home_portfolio > a {
    margin-left: 7%;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 50px;
  }
  .hero_template_content > h1 {
    font-size: 50px;
  }
  .services_article {
    flex-direction: column-reverse;
    padding: 50px 0 0 0;
    width: 86%;
  }
  .services_article > div:nth-child(1) {
    width: 90%;
    margin-right: 0;
    margin-top: 30px;
  }

  .services_article h2 {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 30px;
  }
  .services_article p {
    font-size: 18px;
    line-height: 20px;
  }
  .services_article > div:nth-child(2) {
    position: relative;
    height: 200px;
    width: 300px;
  }
  .portfolio_article {
    padding: 30px 0 0 0;
  }
  .portfolio_article_information {
    flex-direction: column-reverse;
  }
  .portfolio_article_information > div:nth-child(1) {
    width: 90%;
  }
  .portfolio_article_information_image {
    position: relative;
    min-height: 150px;
    min-width: 150px;
    margin-bottom: 30px;
  }
  .line {
    display: none;
  }
  .portfolio_article_information h1 {
    font-size: 26px;
    line-height: 28px;
  }
  .portfolio_article_information h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .portfolio_article_information p {
    font-size: 18px;
    line-height: 20px;
  }
}
